# Python 가상환경
venv/
env/
bin/
lib/
pyvenv.cfg

# Python 캐시
__pycache__/
*.pyc
*.pyo

# 환경 파일
.env

# IDE 관련
.idea/
.vscode/

# macOS
.DS_Store

# 로그
*.log

# 로고 아이콘
static/11+logo.png

# 디바이스 상태 관리 json file
device_status.json

# QR 생성코드 > 불필요
generate_qr.py
*.png
